<ion-view view-title="DSD CORP" ng-controller="GetBadgeCtrl">
  <ion-content>
    <div class="row">
      <div class="col">
        <button class="button button-balanced rounded-button">1</button>
      </div>
      <div class="col">
        <button class="button button-balanced rounded-button">2</button>
      </div>
      <div class="col">
        <button class="button button-balanced rounded-button">3</button>
      </div>
      <div class="col">
        <button class="button button-balanced rounded-button">4</button>
      </div>
      <div class="col">
        <button class="button button-balanced rounded-button">5</button>
      </div>
      <div class="col">
        <button class="button button-balanced rounded-button">6</button>
      </div>
    </div>

    <div class="item no-background no-border facility-badge">
      <h2 style="color: black">Get Your Facility Badge</h2>
      <p style="color: black">Congratulations, this is  your last step in the Onboarding Process.</p>
    </div>

    <div class="row row-photo">
      <!-- <div class="col"></div> -->
      <div class="item custom-avatar">
        <img ng-src="{{taken ? lastPhoto : 'img/Pic-Placeholder.png'}}" class="badge-photo">
      </div>
      <!-- <div class="col"></div> -->
    </div>
    <div class="item-image">
      <!-- <div class="col"></div> -->
      <div  class="button-joined" ng-show="!taken">
        <a class="button button-positive button-two-tone" ng-click="getPhoto()">
          <span class="left">TAKE/SELECT PHOTO</span>
          <i class="ion-camera right"></i>
        </a>
        </div>
        <!-- <div class="col"></div> -->
      </div>

       <div ng-show="complete">

      <div class="item no-background no-border">
        <span>
          <a class="button back-btn button-two-tone" ui-sref="home">
            <i class="ion-ios-arrow-back left"></i>
            <span class="right">BACK</span>
          </a>
        </span>
        <span class="float-right">
          <a class="button button-positive button-two-tone" nav-direction="forward" ui-sref="completeprocess">
            <span class="left">FINISH NOW</span>
            <i class="ion-ios-arrow-forward right"></i>
          </a>
        </span>
      </div>
    </div>
    </ion-content>
  </ion-view>
