<ion-view ng-controller="MainCtrl">
  <ion-content>
    <div class="card">
      <div class="item item-divider item-energized">
        Your Activities
      </div>
      <div class="item item-text-wrap" >
        <ion-checkbox ng-click="go('/getbadge')">Complete new hire activity (on Step 4)</ion-checkbox>
        <ion-checkbox>Set up Sametime</ion-checkbox>
      </div>

    </div>
    <div class="card">
      <div class="item item-divider item-positive">
        Status Updates
      </div>
      <div class="item item-avatar">
        <img src="mcfly.jpg">
        <h2>{{jillreacher.name}}</h2>
        <p>{{jillreacher.description}}</p>
        <p>{{jillreacher.date}}</p>
      </div>
      <div class="item item-avatar">
        <img src="mcfly.jpg">
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
      </div>
      <div class="item item-avatar">
        <img src="mcfly.jpg">
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
      </div>

    </div>
  </ion-content>
</ion-view>
