<ion-view ng-controller="MainCtrl" view-title="DSD CORP" class="icon-left ion-earth">
  <ion-content>
    <div class="card">
      <div class="item item-divider item-energized">
        Your Activities <div class="float-right">

      <span class="right-icon">VIEW ALL</span><i class="icon ion-android-arrow-dropright-circle"></i>  </div>
      </div>
      <div class="item item-text-wrap" >
        <label class="checkbox checkbox-square">
          <ion-checkbox ng-click="go('/getbadge')">
            <p>
              Complete new hire activity (on Step 6)
            </p>

          </ion-checkbox>
        </label>
        <label class="checkbox checkbox-square">
          <ion-checkbox><p>
            Set up Sametime
          </p></ion-checkbox>
        </label>
      </div>

    </div>
    <div class="card">
      <div class="item item-divider item-positive">
        Status Updates<div class="float-right">

      <span class="right-icon">VIEW ALL</span><i class="icon ion-android-arrow-dropright-circle"></i>  </div>
      </div>
      <div class="item item-avatar" ng-repeat="person in jillreacher">
        <img src="{{person.imageURI}}">
        <div class="detail">
          <h2>{{person.name}}</h2>
          <p>{{person.description}}</p>
          <p>{{person.date}}</p>
        </div>

        <hr>
      </div>
    </div>
  </ion-content>
</ion-view>
