<ion-view view-title="DSD CORP" class="icon-left icon-globe">
  <ion-content>
    <div class="card">
      <div class="item item-divider item-energized">
        Your Activities <div class="float-right">

      <span class="right-icon">VIEW ALL</span><i class="icon icon-right-chevron-circle"></i>  </div>
      </div>
      <div class="item item-text-wrap" >
        <label class="checkbox checkbox-square">
          <ion-checkbox ng-click="go('/getbadge')">
            <p style="font-family: 'OpenSans'; color: #9ba3aa; font-size: 0.875rem; margin-left: 40px">
              Complete facility badge (on Step 6)
            </p>

          </ion-checkbox>
        </label>
        <label class="checkbox checkbox-square">
          <ion-checkbox><p style="font-family: 'OpenSans'; color: #9ba3aa; font-size: 0.875rem; margin-left: 40px">
            Set up Sametime
          </p></ion-checkbox>
        </label>
      </div>

    </div>
    <div class="card">
      <div class="item item-divider item-positive">
        Status Updates<div class="float-right">

      <span class="right-icon">VIEW ALL</span><i class="icon icon-right-chevron-circle"></i>  </div>
      </div>
      <div class="item item-avatar employee-container" ng-repeat="person in jillreacher">
        <span class="custom-avatar-card">
          <img src="{{person.imageURI}}">
        </span>
        <div class="detail">
          <p style="color: #9ba3aa; font-size: 0.875rem;">{{person.name}}</p>
          <p style="color: #9ba3aa; font-size: 0.8125rem;">{{person.description}}</p>
          <p style="color: #9ba3aa; font-size: 0.6875rem">{{person.date}}</p>
          <span ng-if="person.showHR">
            <hr style="color: #b7b7b7; border: 1px, solid">
          </span>
        </div>


      </div>
    </div>
    <div class="card">
      <div class="item item-divider item-positive">
        News Feed<div class="float-right">

      <span class="right-icon">VIEW ALL</span><i class="icon icon-right-chevron-circle"></i>  </div>
      </div>
      <div class="item item-avatar employee-container" ng-repeat="person in jillreacher">
        <span class="custom-avatar-card">
          <img src="{{person.imageURI}}">
        </span>

        <div class="detail">
          <p style="color: #9ba3aa; font-size: 0.875rem;">{{person.name}}</p>
          <p id="person-description" style="color: #9ba3aa; font-size: 0.8125rem;">{{person.description}}</p>
          <p style="color: #9ba3aa; font-size: 0.6875rem">{{person.date}}</p>
          <span ng-if="person.showHR">
            <hr style="color: #b7b7b7; border: 1px, solid">
          </span>
        </div>


      </div>
    </div>
  </ion-content>
</ion-view>
