.card {
  border-radius: 4px !important;

}

.login-header{
  margin-bottom: -12px;
  margin-top: -8px;
}

hr {
  margin-top: 1px;
}

// .card-parent {
//   position: relative;
// }
.login-card {
  // display: inline-block;
  // position: absolute;
  background-color: $positive;
  border-radius: 4px;
  border:1px solid gray;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 0px;
  width: 85%;



  .rounded{
    border-radius:4px !important;
    border:1px solid gray;
    margin-bottom: 15px;
    height: 34px;

    input, input::-webkit-input-placeholder{
      font-family: $font-family-serif;
      color: $dark;
    }
  }

  .login-button{
    height:2.125rem !important;
    min-height: 10px;
    line-height: 34px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0;
    margin-top: -2px !important;
  }
}

.item-text-wrap {
  padding: 0px;

}

.checkbox {
  padding: 0px;
}

.item-checkbox {
  padding: 14px;
}


.checkbox-icon {
  margin-top: 8px;
  width: 40px;
  height: 40px;
}

.item-divider {
  height: 40px;
  font-size: 1.063rem;
  font-family: $headings-font-family;
}
.item-avatar {
  border: 0px;
  padding-bottom: 8px;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0);
  margin-top: -5px;
  margin-bottom: -15px;
}

.item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  height: auto;
  top: 12px;
  left: 8px;

}

.detail {
  margin-left: 25px;
  hr {
    margin-top: 5px;
  }

}

.custom-avatar {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 2px solid $positive;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  img.badge-photo{
    position: relative;
    width: 170px;
    height: auto;
    margin-left:-2px !important;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.custom-avatar-card {
  position: relative;
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  height: 80px;
  border-radius: 50%;
  border: 2px solid $positive;
  overflow: hidden;
  float:left;
  margin-left:-65px;

  img{
    position: relative;
    width: 100%;
    height: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.row-photo {
  height: 200px;
}

.button.button-balanced.rounded-button {
  border-radius: 50%;
  font-size: 18px;
  border: 2px solid white;
  box-shadow: 0 0 4px rgba(0,0,0,.35);
  margin-top: 8px;
}

.item h2 {
  font-size: $h2-font-size;
}

.facility-badge {
  margin: 8px;
  p {
    font-family: OpenSans;
    font-size: 0.875rem;
    margin-top: 8px;
  }
}


.button-two-tone{
  padding: 0;
  border: 2px;
  border-style: solid;
  border-radius: 4px;
  border-color: $royal !important;
  overflow: hidden;
  height: 35px;
  font-size: 15px;
  min-height: 35px;
  line-height: 32px;

  span.right{
    margin-right:12px;
    margin-left: 10px;
  }
  span.left{
    margin-left:12px;
    margin-right: 10px;
  }
  i.right{
    background-color: $royal;
    height:100%;
    width: 50px;
    float: right;
  }
  i.left{
    background-color: #7f7f7f;
    height:100%;
    width: 50px;
    float: left;
    &:before{
      color:white !important;
    }
  }
}

.float-right {
  float: right;
}
.right-icon {
  font-size: 0.875rem;
  margin-right: 4px;

}

.ion-android-arrow-dropright-circle {
  font-size: 17px;
}

i.icon.ion-android-arrow-dropright-circle {
    &:before {
      vertical-align:middle;
    }
}

.employee-container{
  .custom-avatar-card{
    border: 2px solid black;
  }
  .custom-avatar-card:first-child {
    border-color: $balanced;
  }
  &:nth-child(2) .custom-avatar-card{
    border-color: $positive;
  }
  &:nth-child(3) .custom-avatar-card{
    border-color: $energized;
  }
}
