i {
  font-size: 32px;
}

.pane, .view {
  background-color: $stable;
}

.ion-search {
  margin-right: 5px;
}

.ion-earth::before{

}

.ion-navicon-round {
  margin-left: 5px;
}

// overriding ionic css
.platform-android .bar .title {
  font-size: 1.25rem;
}

.title.title-center.header-item{
    font-size: $h1-font-size;

  &:before{
    content: "\f276";
    font-family: "Ionicons";
    margin-right: 6px;
    font-size: 28px;
    vertical-align: top;
  }
}

.back-btn {
  border: 2px;
  border-style: solid;
  border-radius: 4px;
  border-color: #7f7f7f !important;
}
