i {
  font-size: 22px;
}

.pane, .view {
  background-color: $stable;
}

.icon-search {
  margin-right: 7px;
  margin-top: 5px;
}


.ion-navicon-round {
  font-size: 26px;
  margin-left: 5px;
  margin-top: 3px;
}

// overriding ionic css
.platform-android .bar .title {
  font-size: 1.25rem;
}

.title.title-center.header-item{
    font-size: $h1-font-size;

  &:before{
    content: "\e90e";
    font-family: "icomoon";
    margin-right: 6px;
    font-size: 28px;
    vertical-align: top;
  }
}

.back-btn {
  border: 2px;
  border-style: solid;
  border-radius: 4px;
  border-color: #7f7f7f !important;
}

.login-view {
  background: url(../img/splash-login-BG.png);
  background-repeat: no-repeat;
  background-position: center;
}

.item-complex .item-content, .item-radio .item-content {
  background-color: $dark;
  color: #fff;
}

.sidemenu {
  background-color: $dark;
}

.sideicon {
  margin-right: 5px;
}
